version: '3.9'

services:
  db:
    image: postgres:16
    container_name: smartvillage_postgres
    restart: always
    environment:
      POSTGRES_USER: smartvillage_user
      POSTGRES_PASSWORD: smartvillage_pass
      POSTGRES_DB: smartvillage_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8
    container_name: smartvillage_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
